@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';


/* custom Vue global styles */
nav {
  /* margin: 10px 0; */
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
}

a.router-link-exact-active {
  font-weight: bold;
  color: #28a745;
}

